<h1>Projects</h1>


  <%= link_to 'New', new_project_path(@project) %>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
