<h1>New Bug Assigned</h1>

<p>Dear <%= @developer.email %>,</p>

<p>A new bug has been assigned to you:</p>

<p>
  <strong>Title:</strong> <%= @bug.title %><br>
  <strong>Description:</strong> <%= @bug.description %><br>
  <strong>Status:</strong> <%= @bug.status %><br>
</p>

<p>Thank you,</p>
<p>Your Team</p>
